:root {
  --sign-border: 0.05rem solid #767676;
  --sign-border-radius: 3px;
}

ul {
  list-style: none;
}

li.product {
  padding: 1em 0 1em 0;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}

div.flex-container {
  display: flex;
}

div.left-div {
  width: 255px;
  height: 218px;
}

img.product {
  margin: auto;
}

div.right-div {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

div.amazon-rating {
  display: flex;
}

.amazon-rating-down-arrow {
  font-size: 8px;
  margin: 0 0.8em 0 0.8em;
  align-self: center;
}

div.only-rating {
  position: relative;
  cursor: pointer;
}

/* collapser */

ul.collapser li {
  margin-bottom: 0.5em;
}

/* bottom margin */

.btm- {
  margin-bottom: 0.25rem;
}

.btm-o {
  margin-bottom: 0.5rem;
}
.btm-oo {
  margin-bottom: 1rem;
}
.btm-ooo {
  margin-bottom: 1.5rem;
}
.btm-oooo {
  margin-bottom: 2rem;
}

/* Right margin */

.rtm- {
  margin-right: 0.25rem;
}

.rtm-o {
  margin-right: 0.5rem;
}
.rtm-oo {
  margin-right: 1rem;
}
.rtm-ooo {
  margin-right: 1.5rem;
}
.rtm-oooo {
  margin-right: 2rem;
}

/* font sizes */

.font-std {
  font-size: 13px;
  line-height: 1.5em;
}

.font-std-bd {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
}

.font-sm {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

.font-xsm {
  font-size: 11px;
  line-height: 1.5em;
}

/* padding */

.pad- {
  padding: 0.25rem;
}

.pad-o {
  padding: 0.5rem; /* for text and buttons */
}

.pad-oo {
  padding: 1rem; /* for boxes */
}

/* simpleFooter */
div.form-footer {
  font-size: 11px;
}
