ul {
  list-style: none;
}

li.product {
  padding: 1em 0 1em 0;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}

div.flex-container {
  display: flex;
}

div.left-div {
  width: 255px;
  height: 218px;
}

img.product {
  margin: auto;
}

div.right-div {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

div.amazon-rating {
  display: flex;
}

.amazon-rating-down-arrow {
  font-size: 8px;
  margin: 0 0.8em 0 0.8em;
  align-self: center;
}

div.only-rating {
  position: relative;
  cursor: pointer;
}

/* collapser */

ul.collapser li {
  margin-bottom: 0.5em;
}

/* bottom margin */

.btm- {
  margin-bottom: 0.25rem;
}

.btm-o {
  margin-bottom: 0.5rem;
}
.btm-oo {
  margin-bottom: 1rem;
}
.btm-ooo {
  margin-bottom: 1.5rem;
}
.btm-oooo {
  margin-bottom: 2rem;
}

/* Right margin */

.rtm- {
  margin-right: 0.25rem;
}

.rtm-o {
  margin-right: 0.5rem;
}
.rtm-oo {
  margin-right: 1rem;
}
.rtm-ooo {
  margin-right: 1.5rem;
}
.rtm-oooo {
  margin-right: 2rem;
}

/* font sizes */

.font-std {
  font-size: 13px;
  line-height: 1.5em;
}

.font-std-bd {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
}

.font-sm {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

.font-xsm {
  font-size: 11px;
  line-height: 1.5em;
}

/* padding */

.pad- {
  padding: 0.25rem;
}

.pad-o {
  padding: 0.5rem; /* for text and buttons */
}

.pad-oo {
  padding: 1rem; /* for boxes */
}

/* forms */

label.sign {
  font-size: 13px;
  font-weight: 700;
  display: block;
  margin-bottom: 0.4rem;
}

input.sign {
  font-size: 13px;
  padding: 0.25rem;
  width: 100%;
  display: block;
}
input.sign-error {
  border-radius: 5px;
  border: 0.05rem solid red;
}

input.sign-error:focus {
  outline: red;
}

p.sign {
  font-size: 13px;
  font-weight: 525;
  line-height: 1.5em;
  margin-bottom: 0;
}

p.sign-error {
  margin-top: 0.25rem;
  color: red;
}
p.sign-error > span {
  font-style: italic;
  margin-right: 0.5rem;
}

p.sign-option-error {
  grid-column-start: 2;
  grid-row-start: 2;
}

/* list-types */
ul.col > li {
  display: inline-block;
  margin-right: 0.5rem;
}

/* anchor button */
button.btn-anchor {
  font-size: 13px;
  padding: 0.5rem;
  background-color: #e7e9ec;
}

button.btn-anchor:hover {
  background-color: #cacaca;
}

button.btn-anchor a {
  text-decoration: none;
  color: black;
}

button.btn-anchor a:hover {
  text-decoration: none;
  color: black;
}

/* submit button */
button.btn-submit {
  padding: 0.5rem;
  background-color: orange;
}

button.btn-submit:hover {
  background-color: rgb(241, 157, 1);
}

/* signInForm */

div.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.form-nav {
  display: flex;
  justify-content: center;
}

div.signin-form > div {
  flex-grow: 0;
  width: 350px;
}

div.main-form {
  padding: 1rem;
  text-align: left;
  width: max-content;
  border: 1px solid #767676;
  border-radius: 2%;
}

div.secondary-form {
  padding: 2.5rem 0;
  text-align: center;
  width: 350px;
}

div.separator-bar {
  height: 1px;
  width: 100%;
  background-color: #767676;
}

p.new-t-a {
  line-height: 1rem;
  position: relative;
  bottom: 0.5em;
  color: #767676;
  background-color: white;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.25rem;
}

.div-style {
  display: grid;
  grid-template-columns: ;
}

/* option input */

div.option-input-main {
  display: grid;
  grid-template-columns: auto 75%;
}

input.option-input-in {
  font-size: 13px;
  display: inline-block;
  padding: 0.25rem;
}

/* mini select  */

div.mini-select {
  position: relative;
  height: 100%;
  width: max-content;
  font-size: 13px;
}

div.mini-select-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 0.05rem solid #767676;
  width: max-content;
  height: 100%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

p.mini-select-title {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 13px;
}

ul.mini-select {
  position: absolute;
  top: 0px;
  border-radius: 3px;
  width: max-content;
  padding: 0.2rem 0.01px;
  border: 0.5px solid black;
  margin-top: 0px;
  background-color: white;
  cursor: pointer;
}

li.mini-select {
  padding: 0.2rem;
  padding-right: 0.5rem;
}

li.mini-select:hover {
  background-color: #767676;
}

/* simpleFooter */

div.form-footer {
  font-size: 11px;
}

div.form-phone-div {
  display: grid;
  grid-template-columns: auto 75%;
  grid-template-rows: min-content;
}
