* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, Helvetica;
  line-height: 1.1em;
}

div.lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.lang-flag {
  display: inline-block;
  width: 24px;
  height: 18px;
  background-size: 142px 295px;
  background-image: url(https://m.media-amazon.com/images/S/sash/i9a5ctVWFTutHRA.png);
  background-position: 0 -166px;
  margin-right: 0.3rem;
}

div.cart {
  position: relative;
}

span.cart-bg {
  display: block;
  background-size: 350px;
  width: 41px;
  height: 28px;
  background-position: -218px -337px;
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405936311_.png");
}

span.cart-number {
  position: absolute;
  color: orange;
  font-size: 20px;
  font-weight: bolder;
  bottom: 12px;
  left: 18.5px;
}
